img {
    margin: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.main {
    height: 100vh;
    display: table;
}
.aboutWraper {
    display: table-cell;
    vertical-align: middle;
}