<div class="main">
    <div class="aboutWraper">  
        <img src="../../img/img_1389.jpg" alt="">
        <div>Born and raised in Sandy Utah, I have always had a love for building and creating things. I have had many jobs including being a paper boy, math tutor, and retail support agent. I recently developed a love for coding and am working towards a carrer in web development.  
        <br>
        I also love to Longboard, Disko Skate and defend the fine citizens of Skyrim.
        </div>
    </div>
</div>
