.main {
    text-align: center;
    width: 100%;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
div {
    display: inline-block;
}
img {
    height: auto;
    width: 30%;
}
.imgDisplay {
    height: auto;
    width: 300px;
    display: inline-block;
    margin: 5vh;
}
.crowdCtrl {
    width: 100%;
}