body {
    text-align: center;
    background: linear-gradient(black, white, black, white, black,white);
    height: auto;
    background-size: 200%;
    background-position: 0 18%;
    transition: background 3s ease;
}
.about {
    color: red;
}