<div class="main">
  <div class="homeWrap">
    <div class="content">
      <div class="mainLinks top">
        <div class="left">
          Projects
        </div>
        <div class="right">
          About
        </div>
      </div>
      <div class="profile">    
        <div class="profileName">Stephen's Profile</div>
      </div>
      <div class="mainLinks bottom">
        <div class="left">
          Skills
        </div>
        <div class="right">
          Contact
        </div>
      </div>
    </div>
  </div>
</div>
