<div class="main">
  <div class="homeWrap">
    <div class="content">
      <div class="mainLinks top">
        <div class="left" (click)="scrollProjects()">
          Projects
        </div>
        <div class="right" (click)="scrollAbout()">
          About
        </div>
      </div>
      <div class="profile" >    
        <div class="profileName">Stephen's Profile</div>
      </div>
      <div class="mainLinks bottom">
        <div class="left" (click)="scrollSkills()">
          Skills
        </div>
        <div class="right" (click)="scrollContact()">
          Contact
        </div>
      </div>
    </div>
  </div>
</div>
